body {
    font-size: 15pt;
}

.header,.footer {
    background: #588B91;
    padding: 20px;
    text-align: center;
}

.container {
    display: flex;
    min-height: 400px;
}

.sidebar {
    background: #D8D8D8;
    width: 20%;
    padding: 20px;
}
    
.content {
    background: #FFFFFF;
    flex: 1;
    padding: 10px;
}

.kotak {
    background: #B8B8B8;
    padding: 10px;
    margin-bottom: 15px;
    text-align: center;
    border: 1px solid#888;
}
.sidebar a {
    background: #bbb;
    padding: 10px;
    margin-bottom: 15px;
    text-align: center;
    border: 1px solid#888;
    display: block;
    text-decoration: none;
    color: #34004F;
}
table {
  width: 100%;
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

th {
  background: #4a90e2;
  color: white;
}